1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [15]:
type(*) //expression//

SyntaxError: ignored

In [16]:
type('hello')

str

In [18]:
type(-87.8)

float

In [20]:
type(-)
type(/)
type(+)
// "expression" //

SyntaxError: ignored

In [21]:
type(6)

int

2. What is the difference between string and variable?
### a string is a value representing text. a variable is a name that can refer to any value.##
3. Describe three different data types.
   ### Number, boolean and sequemce ##
4. What is an expression made up of? What do all expressions do?
###An expression is a combination of operators and operands that is interpreted to produce some other value.
###In any programming language, an expression is evaluated as per the precedence of its operators. ###
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
###Expressions can be assigned or used as operands, while statements can only be declared.

6. After running the following code, what does the variable bacon contain?

In [22]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

In [25]:
'spam' + 'spamspam'

'spamspamspam'

In [26]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
###Because variable cannot begin with a number
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
### int(), float(), str()

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

In [27]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [28]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'